<footer class="footer-07">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="footer-heading"><a href="#" class="logo"><b style="color:#fcd900;">M</b>astivity</a></h2>
                <p class="menu">
                    <a (click)="scrollToTop()" style="cursor: pointer;">Home</a>
                    <a href="#">Developer</a>
                    <a href="#">About</a>
                    <a href="#">Help</a>
                    <a href="#">Blog</a>
                    <a href="#">Contact</a>
                </p>
                <ul class="ftco-footer-social p-0">
                    <li class="ftco-animate"><a href="https://twitter.com/graduate_mis?s=21&t=NgnH6HAb8qQwbxLk4pRKag" data-toggle="tooltip" data-placement="top" title="Twitter"><span style="color:#fcd900" class="fa-brands fa-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="https://web.facebook.com/profile.php?id=100081959191767&_rdc=1&_rdr" data-toggle="tooltip" data-placement="top" title="Facebook"><span style="color:#fcd900" class="fa-brands fa-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="https://instagram.com/graduateschoolmis?igshid=YmMyMTA2M2Y=" data-toggle="tooltip" data-placement="top" title="Instagram"><span style="color:#fcd900" class="fa-brands fa-instagram-square"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p class="copyright">
                    Copyright &copy; 2022 All rights reserved | MIS Graduate School 
                    <i class="ion-ios-heart" aria-hidden="true"></i> by 
                    <a href="https://web.facebook.com/ghian.tan.3" target="_blank" style="color:#fcd900">CS OJT Students 2022</a>
                </p>
            </div>
        </div>
    </div>
</footer>