<!--ADD-->
<div class="wrapper" *ngIf="data.add">
    <h2>Create Event Task</h2>
    <form>
      <div class="input-box text">
        <input type="text" placeholder="Enter event title" [(ngModel)]="event.title" [ngModelOptions]="{standalone: true}" required>
      </div>
      <div class="input-box text">
        <input type="text" placeholder="Enter event date" disabled value="{{ time }}" required>
      </div>
      <div class="input-box button add">
        <input type="Submit" value="Add Event Task" (click)="addEditSchedule()">
      </div>
    </form>
  </div>

  <!--UPDATE-->
<div class="wrapper" *ngIf="!data.add">
  <h2>Update Event Task</h2>
  <form>
    <div class="input-box text">
      <input type="text" placeholder="Enter event title" [(ngModel)]="event.title" [ngModelOptions]="{standalone: true}" required>
    </div>
    <div class="input-box text">
      <input type="text" placeholder="Enter event date" disabled value="{{ time }}" required>
    </div>
    <div class="input-box button add">
      <input type="Submit" value="Update Event Task" (click)="addEditSchedule()">
    </div>
    <div class="input-box button remove">
      <input type="Submit" value="Remove Event Task" (click)="confirmationDialog()">
    </div>
  </form>
</div>