<div class="container" [ngClass]="!mode ? 'dark':'light'">
    <div class="view-container">
        <div class="subjects">
            <div class="view-header">
                <i class="fa-solid fa-book-open"></i>
                <h1>Subjects</h1>
            </div>
            <div class="view-content"  *ngIf="!(loader._isLoading | async)">
                <div class="view-settings">
                    <div class="subject-count">
                        <div class="settings">
                            <span>{{ subjects.length - userSubjects.length }} subjects</span>
                            <div class="tooltip">
                                <i class="fa-solid fa-arrow-down-wide-short"></i>
                                <span class="tooltip-text">Sort</span>
                            </div>
                        </div>
                        <form class="search-bar" tabindex="0">
                            <input type="text" placeholder="Find Subjects.." name="search" [(ngModel)]="sub">
                            <i class="fa fa-search"></i>
                        </form>
                    </div>
                </div>
                <ul>
                    <div *ngFor="let subject of subjects | filter:sub">
                        <li *ngIf="hideSubject(subject) | async" (click)="selectedSubjectStudents(subject)" (click)="getSubjectName(subject)" (click)="showIcons(subject.id)" [ngClass]="subject.id === activeSubject? 'active':''">
                            <div class="list-content">
                                <div class="title-container">
                                    <span>{{ subject.subjectName }}</span>
                                    <div class="icons" [ngClass]="subject.id === activeSubject ? 'active':''">
                                        <div class="tooltip">
                                            <i class='bx bxs-user' (click)="openAddStudentDialog(subject)"></i>
                                            <span class="tooltip-text">Student</span>
                                        </div>
                                        <div class="tooltip">
                                            <i class='bx bxs-bookmark-plus' (click)="addSubject()"></i>
                                            <span class="tooltip-text">Add</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="department">{{ subject.subjectCode }}</div>
                            </div>
                            <div class="date-container">
                                <span class="days">{{ subject.startingTimeView }} - {{ subject.endingTimeView }}</span>
                                <div class="time">{{ subject.daysView }}</div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="user-subjects">
        <div class="header">
            <h2>Subjects</h2>
            <form class="search-bar" tabindex="0">
                <input type="text" placeholder="Find Your Subjects.." name="search"  [(ngModel)]="userSub">
                <i class="fa fa-search"></i>
            </form>
        </div>
        <div class="settings"  *ngIf="!(loader._isLoading | async)">
            <span class="subject-count">{{ userSubjectCount }} subjects</span>
            <div class="right">
                <a class="update-student" (click)="openUpdateStudentDialog()">
                    <i class='bx bx-edit' ></i>
                    <span>Update Student</span>
                </a>
                <a class="remove-subject" (click)="confirmationDialog()">
                    <i class='bx bx-message-square-x'></i>
                    <span>Remove Subject</span>
                </a>
                <i class='bx bx-sort-down'></i>
            </div>
        </div>
        <hr>
        <div class="content">
            <table>
                <thead>
                    <tr class="table-header">
                        <td class="code"><div>Subject Code</div></td>
                        <td class="name"><div>Name</div></td>
                        <td class="students"><div>Students</div></td>
                        <td class="time"><div>Time</div></td>
                        <td class="day"><div>Day</div></td>
                        <td class="department"><div>Department</div></td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-body" *ngFor="let subject of userSubjects | filter:userSub" (click)="getActiveUserSubject(subject)" [ngClass]="subject === activeUserSubject? 'active':''">
                        <td class="subject-code" *ngIf="!(loader._isLoading | async)"><div>{{subject.subjectCode}}</div></td>
                        <td class="subject-name" *ngIf="!(loader._isLoading | async)"><div>{{subject.subjectName}}</div></td>
                        <td class="subject-students" *ngIf="!(loader._isLoading | async)">
                            <div class="dropdown" *ngIf="!(loader._isLoading | async)">
                                <div class="dropdown-btn">
                                    View Students
                                </div>
                                <div class="dropdown-content">
                                    <div class="option" *ngFor="let student of subject.students">
                                        <input type="radio" class="radio" id="student" name="student"/>
                                        <label for="student">{{ student.fullName }}</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="subject-time" *ngIf="!(loader._isLoading | async)"><div>{{ subject.startingTimeView }} - {{ subject.endingTimeView }}</div></td>
                        <td class="subject-day" *ngIf="!(loader._isLoading | async)"><div>{{ subject.daysView }}</div></td>
                        <td class="subject-department" *ngIf="!(loader._isLoading | async)"><div>{{subject.department}}</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
