.sidenav{
    background: #061701;
    transition: all .5s ease;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 5rem;
    height: 100vh;
    box-shadow: 0 0 15px rgba(0,0,0,0.75);

    .logo-container{
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0 0.938rem;
        width: 100%;

        .logo{
            background: #fcd900;
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            border-radius: 0.313rem;
            padding: 0.313rem;
            font-size: 24px;
            font-weight: 900;
            cursor: pointer;
            border: none;
        }

        .logo-text{
            margin-left: 1.5rem;
            font-size: 24px;
            font-weight: 700;
            color: #fff;
        }

        .btn-close{
            margin-left: auto;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background: transparent;
            border: none;

            .fa-xmark{
                color: #fff;
                font-size: 24px;
            }
        }

        .btn-close:hover .fa-xmark{
            color: #fcd900;
        }
    }
}

.sidenav-collapsed{
    width: 16.562rem;
}

.sidenav-nav{
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: calc(100% - 3.65rem);
    cursor: pointer;

    .upper-content,
    .lower-content{
        padding: 0;
        margin: 0;
    }

    .sidenav-nav-dropdown{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #0b2404;
        width: 100%;
        transition: all .5s ease;
    }

    .showTasks{
        opacity: 1;
        display: block;
    }

    .hideTasks{
        opacity: 0;
        display: none;
    }

    .highlight{
        background: #828100;;
        color: #fff;
    }

    .notHighlight{
        color: #f3f3f3;
    }

    .sidenav-label{
        padding: .5rem;
        border-bottom: 2px solid #6a7466;
        margin-bottom: 1rem;
        overflow: hidden;

        label{
            font-size: 15px;
            color: #f3f3f3;
            font-weight: 500;
            text-align: start;
            width: 100px;
            white-space: nowrap;
            transition: all .5s ease;
        }

        .show{
            opacity: 1;
        }

        .hide{
            opacity: 0;
        }
    }

    .sidenav-nav-item,
    .sidenav-nav-dropdown-button,
    .logout{
        width: 100%;
        margin-bottom: 0.625rem;

        .tooltip {
            position: relative;
            display: inline-block;
        }

        .tooltip .tooltiptext {
            opacity: 0;
            width: 120px;
            background: #fff;
            color: #6a7466;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            transition: all .5s ease-in-out;
            box-shadow: 0 0 15px rgba(0,0,0,0.75);
            
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            top: -5px;
            left: 125%;
        }

        .dropdown{
            transition: all 0.5s ease;
            position: relative;
            padding: 8px 15px;
            border-radius: 30px;
            line-height: 30px;
            height: 3rem;
            background: #828100;
            display: flex;
            align-items: center;
            margin-bottom: 0.4rem;

            label{
                display: flex;
                align-items: center;
                color: #fff;
                font-size: 20px;
                cursor: pointer;
                font-weight: 500;
                overflow: hidden;

                .dropdown-text{
                    margin-left: 0.5rem;
                }
                
            }

            ul{
                position: absolute;
                list-style: none;
                background: #14280e;
                top: 3.2rem;
                left: 0;
                width: 235px;
                border-radius: 0.938rem;
                line-height: 40px;
                display: none;
                z-index: 2;

                li{
                    cursor: pointer;
                    margin: 8px 5px;
                    padding-left: 2rem;
                    transition: all 0.5s ease;

                    a{
                        color: #f3f3f3;
                        font-size: 18px;

                        i{
                            margin-right: .5rem;
                        }
                    }
                }

                li:hover{
                    background: #828100;
                    border-radius: 30px;
                }

                li:hover a{
                    color: #fcd900;
                }
            }

            .dropdown-content-show{
                display: block;
            }   
        }

        .dropdown:hover{
            background: #cfd201;
        }

        .sidenav-nav-item-dropdown{
            display: flex;
            align-items: center;
            height: 3rem;
            text-decoration: none;
            transition: all .3s ease;
            border-radius: .625rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            div{
                display: flex;
                align-items: center;

                span{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            
            .sidenav-link-icon{
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .sidenav-link-text{
                margin-left: 1.5rem;
            }
        }

        .sidenav-nav-link{
            display: flex;
            align-items: center;
            height: 3rem;
            color: #f3f3f3;
            text-decoration: none;
            transition: all .3s ease;
            border-radius: .625rem;
            
            .sidenav-link-icon{
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
                vertical-align: middle;
            }

            .sidenav-link-text{
                margin-left: 1.5rem;
            }

            .bx-caret-down{
                margin-left: 4rem;
            }
        }
    }

    .sidenav-nav-item:hover
    .sidenav-nav-link,
    .sidenav-nav-dropdown-button:hover
    .sidenav-nav-item-dropdown{ 
        background: #fff;
        color: #6a7466;

        .tooltip .tooltiptext{
            opacity: 1;
        }
    }

    .logout{
        margin-top: auto;
    }

    .logout:hover
    .sidenav-nav-link{
        background: #fff;
        color: #6a7466;

        .tooltip .tooltiptext{
            opacity: 1;
        }
    }
}

.active{
    background: #fff;

    .sidenav-link-icon,
    .sidenav-link-text{
        color: #6a7466;
    }
}