<div class="container">
    <div class="wrapper">
        <h2>Reset Password</h2>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmitted()">
          <div [ngClass]="show?'':'hide'" class="input-box">
            <input class="input-text" id="token" type="text" formControlName="token" [(ngModel)]="token" required>
          </div>   
          <div class="input-box">
            <input class="input-text" id="password" type="password" formControlName="password" placeholder="Enter new password" maxlength="16" required>
            <div class="error" *ngIf="Password.errors?.['required'] && (Password.dirty)">
                Password is required
            </div>
            <div class="error" *ngIf="Password.errors?.['minlength'] && (Password.dirty)">
                Password should be at least 6 characters
            </div>
          </div>
          <div class="input-box">
            <input class="input-text" id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Confirm password" maxlength="16" required>
            <div class="error" *ngIf="ConfirmPassword.errors?.['required'] && (ConfirmPassword.dirty)">
                Confirm Password is required
            </div>
            <div class="error" *ngIf="ConfirmPassword.errors?.['minlength'] && (ConfirmPassword.dirty)">
                Confirm Password should be at least 6 characters
            </div>
            <div class="error" *ngIf="confirmPassword() && (ConfirmPassword.dirty)">
                Confirm Password and Password must match!
          </div>
          </div>
          <div class="input-box button">
            <input type="Submit" value="Reset" [disabled]="resetPasswordForm.invalid">
          </div>
          <div class="text">
            <h3><a [routerLink]="['/login']" routerLinkActive="active">Cancel</a></h3>
          </div>
        </form>
      </div>
</div>