<div class="container">
    <div class="wrapper">
        <h2>Forgot Password</h2>
        <form [formGroup]="forgotForm" (submit)="forgotPassword()">
          <div class="input-box">
            <input class="input-text" id="email" type="text" formControlName="email" placeholder="Enter your email" required>
            <div class="error" *ngIf="Email.errors?.['required'] && (Email.dirty)">
                Email is required
            </div>
            <div class="error" *ngIf="Email.errors?.['email'] && (Email.dirty)">
                Email is Invalid
            </div>
          </div>
          <div class="input-box button">
            <button mat-raised-button color="warn" type="submit" class="reset-btn">
                Reset Password
                <i class="fa-solid fa-paper-plane"></i>
            </button>
        </div>
        <div class="text">
          <a [routerLink]="['/login']" routerLinkActive="active">Cancel</a>
        </div>
        </form>
      </div>
</div>